
scripts/\.ipynb_checkpoints/

data/all_included_accessions\.xls

data/all_included_accessions\.csv

\.snakemake/metadata/

\.snakemake/log/

data/colombia-seqs-only-strippedtoref-aligned\.fasta

manuscript/

supplemental-analysis/\.snakemake/metadata/

supplemental-analysis/\.snakemake/log/

*.ipynb_checkpoints
.dropbox
.DS_Store
environment*
*.p
\.Icon
\.swp
\.Icon
\.swp
Icon?
*.gz
*.fls
*.fdb_latexmk
*.pyc

# LaTeX intermediaries #
########################
*.aux
*.log
*.bbl
*.blg
*.out
*.pdfsync

2018-10-23-zika-colombia-manuscript\.md
